# Binaries
/crom-video-gen
/crom-video-gen.exe
/crom_bin
/imagem0.png
/imagens
/test_export.json
/test_real_gen.json
/bin/ffmpeg
/bin/ffprobe
/bin/qt-faststart

# Output media
/*.mp4
/*.mp3
/*.wav

# OS/Editor configs
.DS_Store
.idea/
.vscode/
*.swp
*.log
*.test
/temp/
/assets/video/.cache/
